legacy-peer-deps=true
registry=https://registry.npmjs.org

@blueshift-ui:registry=https://npm.fury.io/varsity/
@varsitytutors:registry=https://npm.pkg.github.com

//npm.fury.io/varsity/:_authToken=${GEMFURY_TOKEN}
//npm.pkg.github.com/:_authToken=${VT_GITHUB_TOKEN}